<div style="text-align:center">
	<h1>
		Welcome to the BlazorProducts.Client application.
	</h1>
	<p>
		Feel free to
		<a href="https://www.redbubble.com/people/vpecanac/works/44764889-code-maze-merch?asc=u" target="_blank">visit our shop</a>
		any time you want.
	</p>
	<p>
		<img src="/assets/products.png" alt="products image for the Home component" class="img-fluid" />
	</p>
</div>
@code 
{
}
