@page "/forgotpassword"
<h3>Forgot Password</h3>

@if (_showError)
{
	<div class="alert alert-danger" role="alert">
		Forgot password failed.
	</div>
}

@if (_showSuccess)
{
	<div class="alert alert-success" role="alert">
		The link has been sent, please check your email to reset your password.
	</div>
}

<EditForm Model="_forgotPassDto" OnValidSubmit="Submit"
		  class="card card-body bg-light mt-5">
	<DataAnnotationsValidator />
	<div class="form-group row">
		<label for="email" class="col-md-2 col-form-label">Email:</label>
		<div class="col-md-10">
			<InputText id="email" class="form-control"
					   @bind-Value="_forgotPassDto.Email" />
			<ValidationMessage For="@(() => _forgotPassDto.Email)" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-right">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</div>
</EditForm>
