@page "/toastrwrapper"

<h3>ToastrWrapper</h3>
<br />

<div class="row">
	<div class="col-md-4">
		<h4>Calling Toastr function:</h4>
	</div>
	<div class="col-md-3">
		<button type="button" class="btn btn-info" @onclick="ShowToastrInfo">
			Show Toastr Info
		</button>
	</div>
</div>