@page "/resetpassword"

<h3>Reset Password</h3>

@if (_showError)
{
	<div class="alert alert-danger" role="alert">
		@foreach (var error in _errors)
		{
			<p>@error</p>
		}
	</div>
}

@if (_showSuccess)
{
	<div class="alert alert-success" role="alert">
		The password was reset. You can <a href="/login">log in</a> now.
	</div>
}


@if (!_showSuccess)
{
	<EditForm Model="_resetPassDto" OnValidSubmit="Submit"
			  class="card card-body bg-light mt-5">
		<DataAnnotationsValidator />
		<div class="mb-3 row">
			<label for="password" class="col-md-2 col-form-label">Password:</label>
			<div class="col-md-10">
				<InputText type="password" id="password" class="form-control"
						   @bind-Value="_resetPassDto.Password" />
				<ValidationMessage For="@(() => _resetPassDto.Password)" />
			</div>
		</div>
		<div class="mb-3 row">
			<label for="confirm" class="col-md-2 col-form-label">Confirm Password:</label>
			<div class="col-md-10">
				<InputText type="password" id="confirm" class="form-control"
						   @bind-Value="_resetPassDto.ConfirmPassword" />
				<ValidationMessage For="@(() => _resetPassDto.ConfirmPassword)" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-success float-end">Submit</button>
			</div>
		</div>
	</EditForm>
}
