<div class="modal" tabindex="-1" role="dialog" style="display:@_modalDisplay">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirmation</h5>
				<button type="button" class="btn-close" @onclick="Hide" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<p>@BodyMessage</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal"
						@onclick="() => OnOKClicked.InvokeAsync()">
					OK
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal"
						@onclick="Hide">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>

@if (_showBackdrop)
{
	<div class="modal-backdrop fade show"></div>
}